
<mat-card>
  <mat-card-content>
  <mat-card-title>x</mat-card-title>
  <mat-card-subtitle>x</mat-card-subtitle>

    <div class="example-tooltip-host" matTooltip="Listagem de Estados!" [matTooltipPosition]="position">
      <span>x</span>
      <mat-form-field>
        <mat-select class="example-select" [(ngModel)]="position">
          <mat-option value="before">Before</mat-option>
          <mat-option value="after">After</mat-option>
          <mat-option value="above">Above</mat-option>
          <mat-option value="below">Below</mat-option>
          <mat-option value="left">Left</mat-option>
          <mat-option value="right">Right</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
